.DS_Store
*.py[cod]
pip-log.txt
pip-delete-this-directory.txt
.Rproj.user
*.Rmd
*.ipynb
*.zip
data/raw/lau/
data/raw/qcew/
data/processed/
site/county-pages/
site/county-data/json/json_for_search.json