* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  } 
  
header {
    background: #ffecb3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    height: 110px;
    padding-left: 20px;
    padding-right: 20px;
}

.header-right {
    display: flex;
}

.home {
    padding-right: 30px;
    font-size: 1.2em;
}

.home:hover {
    color: #A9A9A9;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.county-name > h1 {
    font-size: 2.2em;
    /* font-weight: normal; */
    padding-left: 80px; /* to make align with category-section, 100-20 */
}

.dropdown {
    padding-right: 80px;
    position: relative;
    display: inline-block;
}

.dropdown > span {
    font-size: 1.2em;
}

.dropdown > p {
    font-size: 1em;
}

.dropdown-content {
    background: #ffffff;
    font-size: 1em;
    border: .5px #DCDCDC solid;
    padding: 10px;
    width: max-content;
    display: none;
    position: absolute;
    /* min-width:  */
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
  }

ul {
    list-style-type: none;
}

.overview-container {
    height: max-content;
    align-items: center;
    padding: 20px;
    border-bottom: .5px #DCDCDC solid;
}

.overview-stat-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    line-height: 150%;
}

h4 {
    font-size: 2em;
    font-weight: normal;
    padding: 10px 0px 10px 0px;
}

h3 {
    font-weight: normal;
}

.overview-container > p {
    text-align: right;
    padding-top: 10px;
    font-style: italic;
}


.category-section {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px 50px 100px;
    border-bottom: 0.5px #DCDCDC solid;
}

.category-heading {
    text-align: left;
    font-size: 1.2em;
}

.text-container {
    width: 50%;
}

.data-descript {
    line-height: 150%;
}

.source {
    font-size: .8em;
    line-height: 100%;
}

.note {
    font-size: .8em;
    font-style: italic;
    line-height: 120%;
}

.data-viz {
    /* width: 50%; */
}

a {
    outline: none;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #A9A9A9;
}

a:visited {
    color: black;
}

footer {
    background: #ffecb3;
    height: 60px;
    padding: 20px;
    font-size: 1em;
    display: flex;
    align-items: center;
}