* {
    box-sizing: border-box;
}

body {
    /* height: 100vh; */
    margin: 0;
    font: 500 100% system-ui, sans-serif;
}

.page-container {
    background: white;
    height: calc(100vh - 10px);
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: min-content min-content min-content auto min-content;
    gap: 1px;
    /* > * {
        padding: 1rem;
        text-align: center;
    } */
}

.page-header {
    grid-column: 1 / 4;
    padding: 10px;
    text-align: center;
    background: #ffecb3;
    display: grid;
    grid-template-columns: 20px auto;
    /* border-bottom: 1px solid grey; */
}

.overview {
    grid-column: 1 / 4;
    padding: 10px;
    text-align: center;
}
/* .page-sidebar {
    grid-column: 1;
    grid-row: 3;
    background: #e1bee7;
} */

.page-nav {
    grid-column: 1 / 4;
    padding: 10px;
    background: lightgrey;
    display: flex;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    /* border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey; */
}

.category-nav {
}

.page-main {
    grid-column: 1 / 4;
    padding-left: 50px;
    padding-right: 50px;
    /* background: #dcedc8; */
}

.category-section {
    /* border-bottom: 1px solid lightgrey; */
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.category-container {
    display: flex;
    column-gap: 1em;
    /* justify-content: space-between; */
}

.data-descript {
}

.data-viz {
}
.page-footer {
    grid-column: 1 / 4;
    background: #ffecb3;
    padding: 10px;
}

h1 {
    font-size: 100%;
}

h2 {
    font-size: 100%;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

.source {
    font-size: small;
}

.note {
    font-size: x-small;
}