* {
    box-sizing: border-box;
}

body {
    /* height: 100vh; */
    margin: 0;
    font: 500 100% system-ui, sans-serif;
}

.page-container {
    background: white;
    /* height: calc(100vh - 10px); */
    display: grid;
    /* grid-template-columns: 100px auto 100px; */
    grid-template-rows: min-content auto min-content;
    /* > * {
        padding: 1rem;
        text-align: center;
    } */
}

.page-header {
    grid-column: 1 / 4;
    padding: 10px;
    text-align: center;
    align-self: center;
    background: #ffecb3;
    display: grid;
    /* border-bottom: 1px solid grey; */
}

.search-content a {
    float: left;
    font-size: 16px;
    border: 1px solid black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  